$font-family-headings = Monda, "PingFang SC", "Microsoft YaHei", sans-serif//标题字体族，修改成你期望的字体族
$font-size-headings-base = 28px //是各级标题大小
$font-size-headings-step  = 2px
 
$font-family-base = Monda, "PingFang SC", "Microsoft YaHei", sans-serif //正文字体族，修改成你期望的字体族
$font-size-base = 16px // 正文字体的大小

$code-font-family = "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace // 代码字体
$code-font-size = 14px // 代码字体的大小

$main-desktop = 80%