// Custom styles.
.site-meta {
  background: #555; //修改为自己喜欢的颜色
 }
 
.links-of-author-item {
  text-align: center;
  }
  
.links-of-blogroll-title {
  text-align: left;
}

.post-body p a{
  color: #0593d3;
  border-bottom: none;
  &:hover {
    color: #0477ab;
    text-decoration: underline;
  }
}

.links-of-blogroll-item a{
  color: #0593d3;
  border-bottom: none;
  &:hover {
    color: #0477ab;
    text-decoration: underline;
  }
}

.post-nav-item a{
  color: #0593d3;
  border-bottom: none;
  &:hover {
    color: #0477ab;
    text-decoration: underline;
  }
}

.tag-cloud {
  text-align: center;
  a {
    display: inline-block;
    margin: 15px;
//  border-bottom: none;
    &:hover {
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #000;}
  }
}